*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

UseMixinLombok/.classpath

### LaTeX ###
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.log
*.out
footempfile.txt

## my ###
Ignored/*

paper/paper.pdf
*.tex-old

*.el